.navbar--custom {
    background-color: map-get($color-palette, "base-color");
    border-bottom: $border;
    box-shadow: 0px -8px 10px #000;
}

.logo {
    width: 200px;
}

.nav__list {
    height: 20vh;
    justify-content: space-between;
}

.nav__link {
    color: map-get($color-palette, "link-color");
    transition: all 0.25s ease;

    &:hover {
        color: map-get($color-palette, "third-color");
    }
}

.active-link {
    color: map-get($color-palette, "third-color");
}

.donate-active {
    color: map-get($color-palette, "base-color");
    background-color: map-get($color-palette, "third-color");
}

@media (min-width: $lg) {
    .nav__list {
        height: auto;
        width: 40vw;
        max-width: 400px;
    }
}