.header {
    border-bottom: $border-bottom;
}

.logo {
    width: 200px;
}

.nav__list {
    height: 20vh;
    justify-content: space-between;
}

.nav__link {
    color: $link-color;
    transition: all 0.25s ease;

    &:hover {
        color: $third-color;
    }
}

.active-link {
    color: $third-color;
}

.donate-active {
    color: #fff;
    background-color: $third-color;
}

@media (min-width: $lg) {
    .nav__list {
        height: auto;
        width: 40vw;
        max-width: 400px;
    }
}