.btn-custom {
    padding: 10px 15px !important;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: $link-color;
    background-color: $secondary-color;
    transition: all 0.25s ease;

    &:hover {
        color: #fff;
        background-color: $third-color;
        transform: scale(1.05);
    }
}

.btn-custom--active {
    @extend .btn-custom;
    color: #fff;
    background-color: $third-color;
}

.btn-custom--send {
    @extend .btn-custom;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
        border-radius: 5px;
    }
}