.btn-custom {
    padding: 8px 14px !important;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: $link-color;
    background-color: $secondary-color;
    transition: all 0.25s ease;

    &:hover {
        color: #fff;
        background-color: $third-color;
        transform: scale(1.05);
    }
}

.btn-submit {
    width: 60%;
    color: #fff;
    background-color: $third-color;

    &:hover {
        transform: scale(1.03);
    }
}

.btn-send {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
        border-radius: 5px;
    }
}