.explore-basic {
    @include d-flex(column, flex-start, center);
    max-width: 1200px;
    padding: 20px 0;

    &__title {
        padding-bottom: 23px;
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
        text-decoration: 5px underline $third-color;
    }

    &__list {
        @include d-flex(column, space-between, center);
        max-width: 650px;
        height: 30vh;
    }

    &__link {
        color: #000;
        text-decoration: none;
        transition: all 0.25s ease;

        &:hover {
            color: $third-color;
        }
    }
}

@media (min-width: $lg) {
    .explore-basic {
        flex-direction: row;
        justify-content: space-evenly;

        &__title {
            padding-bottom: 0;
        }

        &__list {
            width: 50vw;
            height: auto;
            flex-direction: row;
        }
    }
}