.about {
    padding: 20px 0;
    border-bottom: $border;

    &__title {
        padding-bottom: 35px;
        font-size: 3.5rem;
        font-weight: 600;
        text-decoration: 5px underline map-get($color-palette, "third-color");
    }
}

.about-content {
    padding: 0 25px;
    margin-bottom: 10px;
}

.about-content:last-of-type {
    margin-bottom: 0;
}

#about-title {
    font-size: 1.2rem;
}

.about-illustration {
    width: 400px;
    height: 400px;
    display: none;
}

.content-text__link {
    text-decoration: none;
    font-weight: bold;
    color: map-get($color-palette, "link-color");

    &:hover {
        text-decoration: underline;
        color: map-get($color-palette, "third-color");
    }
}

@media (min-width: $lg) {
    .about-content {
        margin-bottom: 75px;
    }

    #about-title {
        font-size: 1.6rem;
    }

    .about-illustration {
        margin: 0 auto;
        display: flex;
    }
}