.contact {
    padding: 0 20px;
    border-bottom: $border-bottom;

    &__input:focus {
        border-color: $third-color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $third-color;
        outline: 0 none;
    }
}

.contact-form {
    max-width: 768px;
    padding: 20px 0;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
}