.contact {
    padding: 20px;
    border-bottom: $border;

    &__title {
        padding-bottom: 25px;
        font-size: 3.5rem;
        font-weight: 600;
        text-decoration: 5px underline map-get($color-palette, "third-color");
    }

    &__description {
        padding-bottom: 35px;
        font-size: 1.2rem;
    }

    &__input:focus {
        border-color: map-get($color-palette, "third-color");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px map-get($color-palette, "third-color");
        outline: 0 none;
    }
}

.contact-form {
    max-width: 768px;
    padding: 20px;
    margin: 0 auto;
}

.submit {
    @include d-flex(row, center, stretch);
}