.donate {
    height: 85vh;
    padding: 20px 0;
    border-bottom: $border-bottom;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        padding-bottom: 10px;
        font-size: 2rem;
        font-weight: 600;
    }

    &__thanks {
        font-weight: 600;
        color: $third-color;
    }
}

.donate-content {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    &__currency {
        padding: 10px;
        border: $border-bottom;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__input {
        padding: 0 10px;
        font-weight: 500;
        border: $border-bottom;
        border-left: none;
    }
}