.donate-head {
    padding: 20px;
    margin-bottom: 20px;

    &__title {
        padding-bottom: 25px;
        font-size: 3.5rem;
        font-weight: 600;
        text-decoration: 5px underline map-get($color-palette, "third-color");
    }

    &__description {
        padding-bottom: 35px;
        font-size: 1.2rem;
    }
}

.donate {
    @include d-flex(row, center, start);
    height: 45vh;
    padding: 20px 0;
    border-bottom: $border;

    &__title {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 15px;
    }

    &__thanks {
        font-weight: 600;
        color: map-get($color-palette, "third-color");
    }
}

.donate-content {
    @include d-flex(row, center, stretch);
    padding: 0 0 10px;

    &__currency {
        padding: 12px;
        border: $border;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__currency:focus {
        outline: none;
    }

    &__input {
        width: 35%;
        padding: 0 10px;
        font-weight: 500;
        border: $border;
        border-left: none;
    }

    &__input:focus {
        outline: none;
    }
}

.ongs {
    padding: 20px;
    border-bottom: $border;

    &__title {
        padding-bottom: 15px;
        font-weight: 500;
    }
}

.ongs-logos {
    @include d-flex(row, space-around, center);

    &__logo {
        transition: all 0.25s ease;
    }

    &__logo:hover {
        transform: scale(1.05);
    }
}

.ong-img {
    filter: grayscale(100%);
    transition: 0.25s all ease;

    &:hover {
        filter: grayscale(0)
    }
}

@media (max-width: $lg) {
    .ongs__title {
        padding-bottom: 50px;
    }

    .ongs-logos {
        flex-direction: column;

        &__logo {
            padding-bottom: 50px;
        }

        &__logo:last-child {
            padding-bottom: 0;
        }
    }
}