.donate {
    @include d-flex(row, center, center);
    height: 85vh;
    padding: 20px 0;
    border-bottom: $border;

    &__title {
        padding-bottom: 10px;
        font-size: 2rem;
        font-weight: 600;
    }

    &__thanks {
        font-weight: 600;
        color: map-get($color-palette, "third-color");
    }
}

.donate-content {
    @include d-flex(row, center, stretch);
    padding-bottom: 10px;

    &__currency {
        padding: 12px;
        border: $border;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__input {
        padding: 0 10px;
        font-weight: 500;
        border: $border;
        border-left: none;
    }
}