/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding-top: 70px;
  background-color: #F8F9FA;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.btn-custom, .btn-custom--send, .btn-custom--active, .btn-custom--submit {
  padding: 10px 15px !important;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #343A40;
  background-color: #E9ECEF;
  transition: all 0.25s ease;
}
.btn-custom:hover, .btn-custom--send:hover, .btn-custom--active:hover, .btn-custom--submit:hover {
  color: #F8F9FA;
  background-color: #6096BA;
  transform: scale(1.05);
}

.btn-custom--active, .btn-custom--submit {
  color: #F8F9FA;
  background-color: #6096BA;
}

.btn-custom--send {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-custom--send:hover {
  border-radius: 5px;
}

.btn-custom--submit {
  width: 55%;
}

.explore {
  border-bottom: 1px solid #E9ECEF;
}

.explore-basic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  padding: 20px 0;
}
.explore-basic__title {
  padding-bottom: 23px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: 5px underline #6096BA;
}
.explore-basic__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  height: 30vh;
}
.explore-basic__link {
  color: #000;
  text-decoration: none;
  transition: all 0.25s ease;
}
.explore-basic__link:hover {
  color: #6096BA;
}

@media (min-width: 992px) {
  .explore-basic {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .explore-basic__title {
    padding-bottom: 0;
  }
  .explore-basic__list {
    width: 50vw;
    height: auto;
    flex-direction: row;
  }
}
.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #E9ECEF;
}
.footer .footer__text {
  padding-bottom: 20px;
}
.footer .footer__link {
  text-decoration: none;
  color: #343A40;
}
.footer .footer__link:hover {
  color: #6096BA;
  text-decoration: underline #6096BA;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  max-width: 300px;
  margin: 0 auto;
}
.footer-social .footer-social__link {
  color: #343A40;
  transition: all 0.35s ease;
}
.footer-social .footer-social__link:hover {
  color: #6096BA;
  transform: scale(1.2);
}

.navbar--custom {
  background-color: #F8F9FA;
  border-bottom: 1px solid #E9ECEF;
  box-shadow: 0px -8px 10px #000;
}

.logo {
  width: 200px;
}

.nav__list {
  height: 20vh;
  justify-content: space-between;
}

.nav__link {
  color: #343A40;
  transition: all 0.25s ease;
}
.nav__link:hover {
  color: #6096BA;
}

.active-link {
  color: #6096BA;
}

.donate-active {
  color: #F8F9FA;
  background-color: #6096BA;
}

@media (min-width: 992px) {
  .nav__list {
    height: auto;
    width: 40vw;
    max-width: 400px;
  }
}
.about {
  padding: 20px 0;
  border-bottom: 1px solid #E9ECEF;
}
.about__title {
  padding-bottom: 35px;
  font-size: 3.5rem;
  font-weight: 600;
  text-decoration: 5px underline #6096BA;
}

.about-content {
  padding: 0 25px;
  margin-bottom: 10px;
}

.about-content:last-of-type {
  margin-bottom: 0;
}

#about-title {
  font-size: 1.2rem;
}

.about-illustration {
  width: 400px;
  height: 400px;
  display: none;
}

.content-text__link {
  text-decoration: none;
  font-weight: bold;
  color: #343A40;
}
.content-text__link:hover {
  text-decoration: underline;
  color: #6096BA;
}

@media (min-width: 992px) {
  .about-content {
    margin-bottom: 75px;
  }
  #about-title {
    font-size: 1.6rem;
  }
  .about-illustration {
    margin: 0 auto;
    display: flex;
  }
}
.contact {
  padding: 20px;
  border-bottom: 1px solid #E9ECEF;
}
.contact__title {
  padding-bottom: 25px;
  font-size: 3.5rem;
  font-weight: 600;
  text-decoration: 5px underline #6096BA;
}
.contact__description {
  padding-bottom: 35px;
  font-size: 1.2rem;
}
.contact__input:focus {
  border-color: #6096BA;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6096BA;
  outline: 0 none;
}

.contact-form {
  max-width: 768px;
  padding: 20px;
  margin: 0 auto;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.donate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 20px 0;
  border-bottom: 1px solid #E9ECEF;
}
.donate__title {
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
}
.donate__thanks {
  font-weight: 600;
  color: #6096BA;
}

.donate-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 10px;
}
.donate-content__currency {
  padding: 12px;
  border: 1px solid #E9ECEF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.donate-content__input {
  padding: 0 10px;
  font-weight: 500;
  border: 1px solid #E9ECEF;
  border-left: none;
}

.banner {
  background: url("../../images/banner.png");
  border-bottom: 1px solid #E9ECEF;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  max-width: 768px;
  padding: 15px 0;
}
.banner-content__title {
  font-size: 2rem;
  font-weight: 300;
  align-self: flex-start;
}
.banner-content__span {
  border-bottom: 2px solid #6096BA;
}
.banner-content__searchbox {
  width: 80%;
  padding: 23px;
  font-weight: 500;
  border: 1px solid #343A40;
  border-radius: 50px;
  background: url("../icons/magnifying-glass-solid.svg") no-repeat 18px 18px;
  background-size: 20px;
  background-position: 92%;
}

.explore {
  padding: 20px 0;
}
.explore__title {
  padding-bottom: 50px;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-decoration: 6px underline #6096BA;
}

.explore-content {
  margin-bottom: 50px;
}

.explore-content:last-child {
  margin-bottom: 0;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.content-text__title {
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #6096BA;
}
.content-text__info {
  padding-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
}

.explore-carousel {
  border-radius: 5px;
}

@media (min-width: 768px) {
  .banner-content {
    margin: auto;
  }
  .banner__title {
    font-size: 2.3rem;
  }
  .explore__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .explore {
    padding: 20px 30px;
  }
  .explore-content {
    margin-bottom: 75px;
  }
  .content-text__title {
    width: 75%;
    text-align: center;
  }
  .content-text__info {
    width: 75%;
  }
  .priority-order {
    order: 1;
  }
}

/*# sourceMappingURL=app.css.map */
