body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #F8F9FA;
}

/* --- inicio navbar ---*/

.header {
    border-bottom: 1px solid #E9ECEF;
}

.navbar--max-width {
    max-width: 1320px;
    margin: auto;
}

.collapse--custom {
    justify-content: flex-end;
}

.navbar-nav--custom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active--custom .nav-link--custom {
    color: #6096BA !important;
}

.nav-link--custom {
    transition: all 0.25s ease;
    color: #343A40 !important;
}

.nav-link--custom:hover {
    color: #6096BA !important;
}

.btn-donate {
    padding: 6px 16px;
    transition: all 0.25s ease;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    color: #343A40;
    background-color: #E9ECEF;
}

.btn-donate:hover {
    transform: scale(1.05);
    color: white;
    background-color: #6096BA;
}

.active-donate {
    color: white;
    background-color: #6096BA;
}

/* --- fin navbar ---*/

/* --- inicio banner --- */

.banner-hero {
    background-image: url("../images/banner.png");
    border-bottom: 1px solid #E9ECEF;
}

.banner {
    height: 30vh;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__title {
    font-size: 2rem;
    font-weight: 300;
}

.banner__title-span {
    border-bottom: 2px solid #6096BA;
}

.search-box {
    width: 100%;
    padding: 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
    background: url("../icons/magnifying-glass-solid.svg") no-repeat 18px 18px;
    background-size: 20px;
    background-position: 95%;
}

/* --- fin banner --- */

/* --- inicio main --- */

.explore-container {
    border-bottom: 1px solid #E9ECEF;
}

.explore {
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore__title {
    padding-bottom: 40px;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    text-decoration: 5px underline #6096BA;
}

.explore__list {
    max-width: 720px;
    height: 40vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.explore__link {
    text-decoration: none;
    transition: all 0.25s ease;
    color: black;
}

.explore__link:hover {
    color: #6096BA;
}

/* --- inicio top-places --- */

.top-places {
    padding: 20px;
}

.top-places__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.top-places__content {
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-text {
    text-align: center;
}

.content__title {
    color: #6096BA;
}

.content__description {
    text-align: justify;
}

.carousel__img {
    border-radius: 3px;
}

/* --- fin top-places --- */

/* --- fin main --- */

/* --- inicio footer --- */

.footer {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E9ECEF;
    grid-area: footer;
}

.footer__link {
    text-decoration: none;
    color: black;
}

.footer__link:hover {
    color: #6096BA;
    text-decoration: underline #6096BA;
}

.social {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-around;
}

.social__link {
    color: black;
}

.social__icon {
    transition: all 0.35s ease;
    cursor: pointer;
}

.social__icon:hover {
    transform: scale(1.2);
    color: #6096BA;
}

/* --- fin footer --- */

/* --- inicio media queries --- */

@media (max-width: 354px) {
    .logo {
        width: 215px;
    }
}

@media (min-width: 992px) {
    .navbar-nav--custom {
        width: 40vw;
        max-width: 460px;
        justify-content: space-between;
    }

    .explore {
        padding: 30px;
        flex-direction: row;
        justify-content: space-between;
    }

    .explore__title {
        padding-bottom: 0;
    }

    .explore__list {
        width: 65vw;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-places__title {
        margin-bottom: 100px;
        font-size: 2rem;
    }

    .top-places__content {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .content-text {
        width: 40%;
    }

    .content-text--order {
        order: 1;
    }

    .carousel--custom {
        width: 40%;
    }
}

/* --- fin media queries --- */